<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Değiştir</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
        <header>
        <div class="container">
            <nav>
                <a href="#">Şifre Değiştir</a>
            </nav>
        </div>
    </header>
        <div class="container">
        <p class="open-sans-500 center">Şifrenizi değiştirmek için öncelikle, eski şifrenizi girin, sonrasında kullanmak istediğiniz yeni şifrenizi girerek kaydedebilirsiniz.</p>
        <form method="post" action="/change_password">
            <div class="input-icons">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="old_password" placeholder="Eski Şifre" class="centerPlace" required>
            </div>
            <div class="input-icons">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="new_password" placeholder="Yeni Şifre" class="centerPlace" required>
            </div>
            <div class="center">
            <button type="submit" class="profile-btn">Şifreyi Değiştir</button>
            <a href="/main_page"><button class="profile-btn">Kontrol Paneline Dön</button></a>
        </div>
        </form>
    </div>
</body>
</html>
