<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Şifre Değiştirme</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="open-sans-500 centerPlace">Şifre Değiştirme</h1>
        <form action="/forgot_password" method="post" class="centerPlace open-sans-500">
            <label for="email">E-Mail Hesabınız:</label>
            <input type="email" id="email" name="email" required><br><br>
            <p class="open-sans-500 font-size-10 color-red">E postanıza gelen şifrenizi sıfırlama linkine tıklayarak
                şifrenizi sıfırlayabilir, PsyTech'e yeni şifrenizle giriş yapabilirsiniz.</p>
            <input type="submit" value="Şifremi Değiştir">
        </form>
    </div>
</body>
</html>
