<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsyTech</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="/patients">Danışanlarınız</a>
                <a href="#">Hakkımızda</a>
            </nav>
            <div>
                <a href="/profile" class="button">Profil</a>
            </div>
        </div>
    </header>
    <section class="hero">
        <div class="container">
            <div>
                <h1>MMPI Nedir?</h1>
                <h2>Minnesota Çok Yönlü Kişilik Envanteri</h2>
                <p>Bireyin, kişisel ve toplumsal uyumunu değerlendirmek amacıyla kullanılan standart bir psikolojik testtir. Doğru, Yanlış, Bilmiyorum şeklinde cevaplandırılan 500'ün üzerinde sorulardan oluşur. ABD'de en sık kullanılan, en çok araştırma yapılan kişilik testlerinden biridir.</p>
                <h2>Neden PsyTech?</h2>
                <p>PsyTech, tüm bu ölçekler için ham puanları temel alarak profil oluşturur ve rapor hazırlar. Rapora herhangi bir mobil cihaz veya bilgisayardan erişilebilir.</p>
            </div>
        </div>
    </section>
</body>
</html>
