<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Test Link</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body class="open-sans-500">
    <div class="container">
        <h1>Test Link</h1>
        <p>Lütfen hastanızın testi çözebilmesi için aşağıdaki linki onunla paylaşın:</p>
        <p><a href="{{ test_link }}" target="_blank">{{ test_link }}</a></p>

        <a href="{{ url_for('main_page') }}"><button class="lookback-btn">Ana Sayfaya Geri Dön</button></a>
    </div>
</body>
</html>
