<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMPI Testi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container open-sans-500">
        <h1>MMPI Testi Nedir?</h1>
        <p>Minnesota Çok Yönlü Kişilik Envanteri, bireyin kişisel ve toplumsal uyumunu değerlendirme amacıyla kullanılan
        standart bir psikolojik testtir. Doğru, Yanlış ve Bilmiyorum şeklinde cevaplandırılan 500'ün üzerinde
        sorulardan oluşur. ABD'de en sık kullanılan, en çok araştırma yapılan kişilik testlerinden biridir.</p>
    </div>
</body>
</html>